aiohttp==3.6.2
altgraph==0.17
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
backoff==1.10.0
chardet==3.0.4
future==0.18.2
idna==2.9
multidict==4.7.6
packaging==20.4
pefile==2019.4.18
PyInstaller==3.6
pyparsing==2.4.7
pywin32-ctypes==0.2.0
six==1.15.0
wled==0.4.3
yarl==1.4.2
